@model List<GuestReservation>

<div class="row">
    <a class="btn btn-success w-25 btn btn-primary" asp-controller="GuestReservations" asp-action="Create">ახალი სტუმარი</a>
</div>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Guest name</th>
                <th>Reservation ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guestReservation in Model)
            {
                <tr>
                    <td>@guestReservation.Guest.FirstName @guestReservation.Guest.LastName</td>
                    <td>@guestReservation.ReservationId</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="GuestReservations" asp-action="Delete" asp-route-id="@guestReservation.Id">წაშლა</a>
                        <a class="btn btn-info" asp-controller="GuestReservations" asp-action="Update" asp-route-id="@guestReservation.Id">განახლება</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>